*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1:hover {
    color: red;
    text-shadow: 1px 1px 2px black;

}
h2:hover{
    color: blue;
    text-shadow: 1px 1px .5px black;
}
.square{
    height: 80px;
    left: 80;
    padding: 16px;
    background: red;
    transition: 2s;
}
.square:hover{
    transform: rotatey(360deg);
}
.edy{
    height: 100px;
    /* width: 100px; */
    left: 100;
    padding: 16px;
    transition: 2s;
    background-image:url(/CSS/class-05-animation/imag/charity-logo6.jpg);
}
.edyy{
    height: 100px;
    left: 100;
    padding: 16px;
    transition: 2s;
    width: 8px;
}
.edy:hover{
    transform: rotatey(360deg); 
   
}
